<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 8%;">
    <div class="card mat-elevation-z8">
        <form class="form" (ngSubmit)="onSubmit()">
            <h2 class="text-center">Please Login to Proceed!</h2>
            <div class="form-group">
                <label for="username">UserName</label>
                <input type="text" name="username" id="username" [(ngModel)]="username" class="form-control"
                    placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control"
                    placeholder="Enter Password">
                    
                <button type="button" (click)="changePwdToTxtAndViceVersa()"
                    style="position: absolute;left: 82%;top: 60%;border:none;outline: none;background: transparent;">

                    <mat-icon style="display: flex;flex-direction: row;
                    justify-content: center;">{{
                        hide ? "visibility_off" : "visibility"
                        }}</mat-icon>
                </button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary btn-block">Login</button>
            </div>
        </form>
    </div>
</div>